on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Login to genshin
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          ref: main
          path: main
      - name: Set Node.js 14
        uses: actions/setup-node@v2.4.1
        with:
            node-version: 14
      - name: Install dependencies
        run: |
          cd main
          npm i
        shell: bash
      - name: Run the script
        run: |
          cd main
          node index.js
        shell: bash
        env:
            token: ${{ secrets.token }}
            account_id: ${{ secrets.account_id }}
            uid: ${{ secrets.uid }}
      - name: update current.json
        run: |
          cd main
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add current.json
          git commit -m "updated current.json"
          git push
        shell: bash